* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #0f0f0f;
  color: white;
  min-height: 100vh;
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  display: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 20px;
  position: sticky !important;
  top: 0;
  background-color: #0f0f0f;
}
#search {
  width: 50%;
}
#search,
#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#logo iframe {
  width: 10vw;
  height: 30px;
  border: none;
}
#input {
  border: 0.01px solid gray;
  border-radius: 20px;
  opacity: 0.7;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 10%;
}
#input i {
  background-color: #222;
  width: 20%;
  border-left: 1px solid gray;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 1.5% 5% 1.5% 5%;
}
#search input {
  width: 80%;
  outline: none;
  border: none;
  background-color: #0f0f0f;
  color: white;
  font-weight: bolder;
  margin-left: 5%;
  padding: 1.5% 5% 1.5% 5%;
  border-radius: 20px;
}
.fa-magnifying-glass,
.fa-bell,
.fa-video,
.fa-circle-user {
  cursor: pointer;
}
#search .fa-microphone {
  padding: 12px;
  border-radius: 50%;
  background-color: #222;
  cursor: pointer;
}
#user {
  display: flex;
  gap: 10px;
}
.fa-bell,
.fa-video,
.fa-circle-user {
  padding: 10px;
}
.fa-bell:hover,
.fa-video:hover {
  border-radius: 50%;
  background-color: #222;
}
main {
  display: flex;
  min-height: 100%;
}
#sidebar {
  flex: 0.2;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  height: 80vh;
  position: sticky;
  top: 50px;
  background-color: #0f0f0f;
}
#sidebar div {
  width: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
}
#sidebar div:hover {
  background-color: #2b2b2b;
}
#sidebar div p {
  font-size: 0.7em;
}
#options {
  padding: 5px;
  list-style: none;
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  width: 90vw;
  position: sticky;
  top: 50px;
  background-color: #0f0f0f;
}
#options::-webkit-scrollbar {
  display: none;
}
#options li {
  white-space: nowrap;
  background-color: #2b2b2b;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
#options li:hover {
  background-color: rgb(74, 74, 74);
}
#banner {
  flex: 2;
}
#videos {
  padding: 20px;
  margin: 0 auto;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
#videos div {
  background-color: #0f0f0f;
}
#videos div > img {
  border-radius: 10px;
  margin-bottom: 10px;
}
section img {
  border-radius: 50% !important;
  height: 100%;
}
section small {
  font-size: 0.7em;
}
section p {
  font-size: 0.9em;
}
section {
  display: flex;
  gap: 20px;
}
@media all and (max-width: 500px) {
  #user {
    display: none;
  }
  #search {
    width: 100%;
  }
  #search .fa-microphone {
    padding: 8px;
  }
  #sidebar {
    display: none;
  }
  #options {
    width: 100vw;
  }
}
